{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog</title>
</head>
<body>
    <header>
        <h1> <a href="">Ope's Blog</a></h1>
    </header>    
        <div class="container">
        {% block content %}
            <div class="details">
                <h2>{{article.title}}</h2>
                <p>{{ article.body }}</p>
            </div>
        {% endblock content %}        
        </div>
</body>
</html>